/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@500;600;700&display=swap');


/* Fondo degradado */
body {
    background: linear-gradient(135deg, #437fff, #dbc0ff);
    background-attachment: fixed;
    color: #fff;
}

/* Animación fade-in */
.fade-in {
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Hover premium para tarjetas */
.card-hover:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.39);
}

/* Fuentes */


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

body,
p,
a,
li,
span,
button {
    font-family: 'Roboto', sans-serif;
}